.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: opacity var(--animation), visibility var(--animation);

  overflow: scroll;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.franchise__modal {
  padding: 28px;
  width: 280px;
  min-height: 674px;
  position: absolute;
  top: 50%;
  left: 50%;

  background-color: rgba(252, 252, 252, 1);
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;

  transform: translate(-50%, -50%);
}

.franchise__close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 20px;
  height: 20px;
  
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  border: 1px transparent;
  padding: 0px;
}

.franchise__modal-close {
  transition: fill var(--animation);

  .franchise__close-btn:hover & {
    fill: var(--secondary-font-color);
  }
}

.franchise__modal_form {
  display: flex;
  flex-direction: column;
}

.franchise__title {

  margin-bottom: 20px;
  max-width: 221px;

  font-family: 'Seymour One', sans-serif;
  color: rgba(19, 19, 19, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.franchise__text {
  margin-bottom: 24px;
  max-width: 240px;

  font-family: 'Montserrat', sans-serif;
  color: rgba(19, 19, 19, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
}

.franchise__input {
  display: flex;
  height: 32px;
  width: 100%;
  padding: 8px 12px;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  &:hover,
  &:focus {
    border-color: var(--secondary-font-color);
  }

  &::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 400;
    font-size: 12px;
    line-height: 1.17;
    color: rgba(19, 19, 19, 1);
  }
}

.franchise__text_form {
  margin-bottom: 12px;
}

.franchise__comment_form {
  margin-bottom: 24px;
}

.franchise__input_user {
  display: flex;
  width: 100%;
  height: 64px;
  padding: 8px 12px;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  resize: none;
  outline: transparent;

  &:hover,
  &:focus {
    outline: none;
    border-color: var(--secondary-font-color);
  }

  &::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 400;
    font-size: 12px;
    line-height: 1.17;
    color: rgba(19, 19, 19, 1);
  }
}

@media screen and (min-width: 768px) {
  .franchise__modal {
    padding: 32px 60px;
    width: 568px;
    min-height: 668px;
  }

  .franchise__close-btn {
    top: 20px;
    right: 20px;
  }

  .franchise__title {
    margin-bottom: 24px;
    max-width: 322px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;


    font-size: 20px;
    line-height: 1.4;
  }

  .franchise__text {
    margin-bottom: 32px;
    max-width: 448px;
    margin-left: auto;
    margin-right: auto;

    font-size: 16px;
    line-height: 1.5;
  }

  .franchise__text_form {
    margin-bottom: 16px;
 
  }

  .franchise__comment_form {
    margin-bottom: 32px;
    
  }

  .franchise__input {
    height: 42px;
    width: 368px;
    padding: 11px 16px;

    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;


  }

  .franchise__modal_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .franchise__input_user {
    height: 84px;
    width: 368px;
    padding: 11px 16px;


    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;

    resize: none;
    outline: transparent;

    &:hover,
    &:focus {
      outline: none;
      border-color: var(--secondary-font-color);
    }
  }
}
