.franchise__button {
  font-family: 'Seymour One', sans-serif;
  font-family: 'Montserrat', sans-serif;
  background: #f8d24e;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.21;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  display: inline-block;
  width: 114px;
  height: 42px;
}

.read__button {
  background: #f8d24e;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.21;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  display: inline-block;
  width: 114px;
  height: 42px;
}

.location__button {
  background: #f8d24e;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.21;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  display: inline-block;
  width: 114px;
  height: 42px;
}

.franchise__btn_submit {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;

  font-family: 'Montserrat', sans-serif;
  background: #f8d24e;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.21;

  border: none;
  cursor: pointer;

  display: inline-block;
  width: 114px;
  height: 42px;
}

.location__btn_submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;

  font-family: 'Montserrat', sans-serif;
  background: #f8d24e;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.21;

  border: none;
  cursor: pointer;

  width: 134px;
  height: 42px;
}

@media screen and (min-width: 768px) {
  .franchise__btn_submit {
    font-size: 14px;

    width: 121px;
  }

  .location__btn_submit {
    font-size: 14px;

    width: 145px;
  }
}
