.franchise__button {
  background: #f8d24e;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.21;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  display: inline-block;
  width: 114px;
  height: 42px;
  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: rgba(24, 140, 232, 1);
    color: var(--primari-buckground-color);
  }
}

.read__button {
  background: #f8d24e;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.21;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  display: inline-block;
  width: 114px;
  height: 42px;
  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: rgba(24, 140, 232, 1);
    color: var(--primari-buckground-color);
  }
}

.location__button {
  background: #f8d24e;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.21;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  display: inline-block;
  width: 114px;
  height: 42px;
  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: rgba(24, 140, 232, 1);
    color: var(--primari-buckground-color);
  }
}
